table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}

table th {
    text-align: left;
    background-color: transparent;
    border-bottom: 2px solid #ddd;
    padding: .5rem .75rem;
}

table td {
    border-bottom: 1px solid #ddd;
    padding: .5rem .75rem;
}